body{ 
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;}
body{ margin: 0;}
h1{ font-size: 50px;}
.name{ color: purple;}
section{ display: flex;}
.half{ width: 50%;
    padding: 10px;
}
.half image{ width: 90%;}
.link{ text-decoration: none;
    background-image: linear-gradient( rgb(240, 65, 240), rgb(182, 8, 130));
    font-weight: 900;
    color: white;
padding: 10px 40px;
border-radius: 5px;
}
.topbanner{
    background-image: url( image/top-banner.png);
    background-repeat: no-repeat;
}
.img{ width: 100%;}
.middle{ background-image: url(image/dream-bg.png);
background-repeat: no-repeat;
background-position:right ;

}
    .exarea{ display: flex; padding-top: 100px;
        background-image: url(image/exp-bg.png);
        background-repeat: no-repeat;
       background-position: left;
    
}
#exareab{

    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
    border-left: 10px solid navy; box-shadow: 10px 10px 40px gray;}
    #shadow{ box-shadow: 10px 10px 40px gray;
    border-left: indianred;

margin-left: 5%;
margin-right: 5%;
padding: 20px;
border-radius: 10px;
border-left: 10px solid salmon;}



